body {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #636363;
}

#BattleCity {
  background: #000;
  overflow: hidden;
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  margin: 0 auto;
}

h2 {
  position: fixed;
  top: 20px;
  right: -10px;
  font-size: 16px;
  writing-mode: vertical-lr;
  /* text-orientation: upright; */
}

#missile {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  -webkit-transition: top 0.1s ease, left 0.1s ease;
  -o-transition: top 0.1s ease, left 0.1s ease;
  transition: top 0.1s ease, left 0.1s ease;
  pointer-events: none;
}

.missileLeft {
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
}

#explosion {
  pointer-events: none;
}

#joyDiv{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

#joyDivBtn{
  width: 50px;
  height: 50px;
  background: #C0C0C0;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
}



/* .joystick {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 30%;
  transform: translateX(-50%);
  margin-top: 10px;
  border-radius: 50%;
} */

.explosionUp {
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.explosionDown {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.explosionLeft {
  -webkit-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
}

.explosionRight {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#missileLeft {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  -webkit-transform: translateX(50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(50%) translateY(-50%) rotate(90deg);
  transform: translateX(50%) translateY(-50%) rotate(90deg);
  pointer-events: none;
}

#missileTrack {
  pointer-events: none;
  background: transparent;
}

div {
  position: absolute;
  -webkit-transition: top 0.1s ease, left 0.1s ease;
  -o-transition: top 0.1s ease, left 0.1s ease;
  transition: top 0.1s ease, left 0.1s ease;
}

div img {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.trackTank {
  pointer-events: none;
}

#tank1User {
  /* pointer-events: none; */
}

div .active {
  display: block;
  width: 100%;
  height: 100%;
}

.track1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.track2 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 1px;
  height: 1px;
}

.track3 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 1px;
  height: 1px;
}

.track4 {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 1px;
  height: 1px;
}

.trackTank {
  width: 1px;
  height: 1px;
  position: absolute;
  background: #fff;
  z-index: 3;
  left: 1%;
}

.trackTankWrapTop {
  position: absolute;
  width: 100%;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: -1%;
}

.trackTankWrapBottom {
  position: absolute;
  width: 100%;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: -1%;
}

.trackTankWrapleft {
  position: absolute;
  width: 1px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  left: -1%;
}

.trackTankWrapRight {
  position: absolute;
  width: 1px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  left: 100%;
}

.trackRight,
.trackLeft,
.trackBottom,
.trackTop {
  position: static;
  width: 1px;
  height: 1px;
  /* background-color: #fff; */
}

.divMobil{
  transform: rotate(-90deg);
}

.track2tank {
  top: 0%;
  left: 50%;
}

.bcgr img {
  display: none;
}

.bcgr {
  background: #636363;
}

.none {
  display: none;
}

