body {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #636363;
}

#BattleCity {
  background: #000;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.9)translateY(-5%);
  border: 10px solid #636363;
}

div {
  position: absolute;
  transition: top .1s ease, left .1s ease;
}

div img {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.trackTank {
  pointer-events: none;
}

#tank1User {
  pointer-events: none;
}

div .active {
  display: block;
  width: 100%;
  height: 100%;
}

.track1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.track2 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 1px;
  height: 1px;
}

.track3 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 1px;
  height: 1px;
}

.track4 {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 1px;
  height: 1px;
}

.track1tank,
.track2tank,
.track3tank,
.track4tank,
.track5tank,
.track6tank,
.track7tank,
.track8tank,
.track9tank,
.track10tank,
.track11tank,
.track12tank,
.track13tank,
.track14tank,
.track15tank,
.track16tank,
.track17tank,
.track18tank,
.track19tank,
.track20tank,
.track21tank,
.track22tank,
.track23tank,
.track24tank,
.track25tank,
.track26tank,
.track27tank,
.track28tank,
.track29tank,
.track30tank,
.track31tank,
.track32tank,
.track33tank,
.track34tank,
.track35tank,
.track36tank {
  width: 1px;
  height: 1px;
  position: absolute;
  background: #fff;
  z-index: 3;
  left: 1%;
}

.track25tank {
  left: 0;
  top: -4px;
}

.track26tank {
  left: 3px;
  top: -4px;
}

.track27tank {
  left: 6px;
  top: -4px;
}

.track28tank {
  left: 0;
  top: 42px;
}

.track29tank {
  left: 3px;
  top: 42px;
}

.track30tank {
  left: 6px;
  top: 42px;
}

.track31tank {
  left: 39px;
  top: -4px;
}

.track32tank {

  left: 36px;
  top: -4px;
}

.track33tank {

  left: 33px;
  top: -4px;
}

.track34tank {
  left: 39px;
  top: 42px;
}

.track35tank {
  left: 36px;
  top: 42px;
}

.track36tank {
  left: 33px;
  top: 42px;
}

.track19tank {
  top: 39px;
  left: -4px;
}

.track20tank {
  top: 36px;
  left: -4px;
}

.track21tank {
  top: 33px;
  left: -4px;
}

.track22tank {
  top: 39px;
  left: 43px;
}

.track23tank {
  top: 36px;
  left: 43px;
}

.track24tank {
  top: 33px;
  left: 43px;
}

.track11tank {
  top: 50%;
  left: 39px;
}

.track12tank {
  top: 100%;
  left: 42px;
}

.track10tank {
  top: 0%;
  left: 42px;
}

.track13tank {
  top: 6px;
  left: 43px;
}

.track14tank {
  top: 3px;
  left: 43px;
}

.track15tank {
  top: 0%;
  left: 43px;
}

.track16tank {
  top: 0%;
  left: -4px;
}

.track17tank {
  top: 3px;
  left: -4px;
}

.track18tank {
  top: 6px;
  left: -4px;
}

.track8tank {
  top: 50%;
  left: 0%;
}

.track9tank {
  top: 100%;
  left: -3px;
}

.track7tank {
  top: 0%;
  left: -3px;
}



.track4tank {
  top: 41px;
  left: 0;
}

.track6tank {
  top: 41px;
  left: 38px;
}

.track5tank {
  top: 100%;
  left: 50%;
}

.track1tank {
  top: -3px;
  left: 0;
}

.track2tank {
  top: 0%;
  left: 50%;
}

.track3tank {
  top: -3px;
  left: 38px;
}

.none {
  display: none;
}